<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Design Patterns Example Suite">
    <test name="POM Test">
        <classes>
            <class name="ge.tbc.testautomation.tests.pricing.BundleOfferTests"/>
        </classes>
    </test>
</suite>